#partenariats {
  text-align: center;

  input.submit {
    background-color: #ffcc00;
    margin-top: 20px;
    color: white;
  }

  input.submit:hover {
    background-color: black;
  }
}

.logo_container {
  float: left;
  padding: 10px;
  a {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: -3px;
  }
}
.main_nav {
  li {
    a:hover {
      color: #ffcc00;
    }
  }
}