.form-radios{
	width:100%;
	float:left;
	margin-top:60px!important;
	clear:both;
}
.form-radios input[type=radio]{
	margin-right:15px;
	cursor: pointer;
	background: #e1e1e1;
}
.form-radios .form-item{
	width: 70px;
	margin: 0 30px 90px 0!important;
	float: left;
}
.form-radios .form-item label{
	margin-top: -70px!important;
	border: 2px solid #fff!important;
	outline: 1px solid #ddd!important;
	position: absolute!important;
	display: block;
	width: 70px;
	height: 0px;
	line-height: 30px;
	padding-top: 70px!important;
	cursor: pointer;
	text-align: center;
	color: #444;
	border: 1px solid #fff;
	outline: 2px solid #a3af7f;
	font-weight: bold;
	background:#333;
}
.form-item label[for="edit-built-in-skins-blue"] { background-color: #00cae9;}
.form-item label[for="edit-built-in-skins-green"] {  background-color: #0DD36F;}
.form-item label[for="edit-built-in-skins-orange"] { background-color: #ff6029;}
.form-item label[for="edit-built-in-skins-yellow"] { background-color: #ffba00; }
.form-item label[for="edit-built-in-skins-red"] { background-color: #ff2323; }
.form-item label[for="edit-built-in-skins-gray"] { background-color: #3a3a3a;}






/*
.form-item label[for="edit-background-image-imagesbg-theme1png"] { background-image: url('../../images/bg-theme/1.png'); }
.form-item label[for="edit-background-image-imagesbg-theme2png"] { background-image: url('../../images/bg-theme/2.png'); }
.form-item label[for="edit-background-image-imagesbg-theme3png"] { background-image: url('../../images/bg-theme/3.png'); }
.form-item label[for="edit-background-image-imagesbg-theme4png"] { background-image: url('../../images/bg-theme/4.png'); }
.form-item label[for="edit-background-image-imagesbg-theme5png"] { background-image: url('../../images/bg-theme/5.png'); }
.form-item label[for="edit-background-image-imagesbg-theme6png"] { background-image: url('../../images/bg-theme/6.png'); }
.form-item label[for="edit-background-image-imagesbg-theme7png"] { background-image: url('../../images/bg-theme/7.png'); }
.form-item label[for="edit-background-image-imagesbg-theme8png"] { background-image: url('../../images/bg-theme/8.png'); }
.form-item label[for="edit-background-image-imagesbg-theme9png"] { background-image: url('../../images/bg-theme/9.png'); }
.form-item label[for="edit-background-image-imagesbg-theme10png"] { background-image: url('../../images/bg-theme/10.png'); }
.form-item label[for="edit-background-image-imagesbg-theme11png"] { background-image: url('../../images/bg-theme/11.png'); }
.form-item label[for="edit-background-image-imagesbg-themenonepng"] { background-image: url('../../images/bg-theme/none.jpg'); }
.form-item label[for="edit-background-image-imagespatternspattern13jpg"] { background-image: url('../../images/patterns/pattern13.jpg'); }
.form-item label[for="edit-background-image-imagespatternspattern14jpg"] { background-image: url('../../images/patterns/pattern14.jpg'); }
.form-item label[for="edit-background-image-imagespatternspattern15jpg"] { background-image: url('../../images/patterns/pattern15.jpg'); }
.form-item label[for="edit-background-image-imagespatternsdefaultjpg"] { background-image: url('../../images/patterns/none.jpg'); }



.form-item label[for="edit-background-for-boxed-layout-none-background"] { background-color:#FFF!important }
.form-item label[for="edit-layout-style-wide"] { background:url(../../images/fullwidth.jpg) no-repeat; }
.form-item label[for="edit-layout-style-boxed"] { background:url(../../images/boxed.jpg) center center; }
.form-item label[for="edit-layout-style-boxed-margin"] { background:url(../../images/boxed.jpg) center center; }
.form-item label[for="edit-header-style-header1"] { background:none; }
.form-item label[for="edit-background-for-boxed-layout-diagmonds"] { background:url(../bg/diagmonds.jpg) }

.form-item label[for="edit-background-for-boxed-layout-triangles"] { background:url(../bg/triangles.jpg) }
.form-item label[for="edit-background-for-boxed-layout-black-thread"] { background:url(../bg/black_thread.jpg) }
.form-item label[for="edit-background-for-boxed-layout-checkered-pattern"] { background:url(../bg/checkered_pattern.jpg) }
.form-item label[for="edit-background-for-boxed-layout-black-mamba"] { background:url(../bg/black_mamba.jpg) }

.form-item label[for="edit-background-for-boxed-layout-back-pattern"] { background:url(../bg/back_pattern.jpg) }
.form-item label[for="edit-background-for-boxed-layout-vichy"] { background:url(../bg/vichy.jpg) }
.form-item label[for="edit-background-for-boxed-layout-diamond-upholstery"] { background:url(../bg/diamond_upholstery.jpg) }
.form-item label[for="edit-background-for-boxed-layout-lyonnette"] { background:url(../bg/lyonnette.jpg) }
.form-item label[for="edit-background-for-boxed-layout-graphy"] { background:url(../bg/graphy.jpg) }
.form-item label[for="edit-background-for-boxed-layout-subtlenet2"] { background:url(../bg/subtlenet2.jpg) }
*/

.form-radios .form-item-active label{
	border: 3px solid #fff!important;
	outline: 2px solid #a3af7f!important;
	font-weight: bold!important;
}
.form-item .form-item{
	padding:15px 0px!important;
}
